@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

body{
	background:url("../imagens/fundo.jpg") no-repeat fixed;
}

div#interface{
	background-color: rgba(232,230,231,0.9);
	width: 1100px;
	margin: 0px auto;
	padding: 10px;
	box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

/* Aqui começam as configurações de estilo do cabeçalho - header */

header#titulo{
	font-family: 'Joti One', cursive;
	font-size: 15pt;
	border-bottom: 1px dashed rgba(0,0,0,0.5);
	position: relative;
}

header#titulo h1{
	color: gray;
	text-shadow: 3px 4px 5px black;
	text-indent: 160px;
	word-spacing: 7px;
}

header#titulo img#logo{
	top:20px;
	left:50px;
	position:absolute;
}

header#titulo nav#menu{
	display: block;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 12pt;
}

header#titulo nav#menu h1{
	display: none;
}

header#titulo nav#menu ol{
	list-style: none;
	text-transform: uppercase;
	top: 70px;
	left: 700px;
	position: absolute;
}

header#titulo nav#menu li{
	display: inline-block;
	background-color: #ccc9ca;
	padding: 10px;
	margin: 2px;
	transition: background-color 2s;
}

header#titulo nav#menu li:hover{
	background-color: gray;
}


header#titulo nav#menu a{
	color: black;
	text-decoration: none;
}

header#titulo nav#menu a:hover{
	color: white;
	text-decoration: underline;
}

/* Aqui terminam as configurações de estilo do cabeçalho - header */